<!DOCTYPE html>
<html>
    <head>
        <title>PingBot v0.1</title>
        <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="~/Content/style.css">
    </head>

    <body>
        <div class="wrapper theme-4-active pimary-color-blue">
            <div class="page-wrapper">
                <div class="container-fluid">
                    <div class="row" style="padding-top: 20px;">
                        <div id="clientView" class="row">

                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="~/Scripts/init.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/cron.js"></script>
        @RenderSection("scripts", required: false);
    </body>
</html>