USE [master]
GO
/****** Object:  Database [PingBot]    Script Date: 8/4/2017 3:04:53 PM ******/
CREATE DATABASE [PingBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PingBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\PingBot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PingBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\PingBot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PingBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PingBot]
GO
USE [PingBot]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 8/4/2017 3:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Provider] [varchar](50) NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[IsUp] [bit] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_IsUp]  DEFAULT ((0)) FOR [IsUp]
GO
USE [master]
GO
